<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button [routerLink]="['burbank']">Load Burbank</button>
  <button [routerLink]="['chicago']">Load Chicago</button>
  <button [routerLink]="['dallas']">Load Dallas</button>
  <button [routerLink]="['san-jose']">Load San-Jose</button>
  <button [routerLink]="['seattle']">Load Seattle</button>
  <button [routerLink]="['washington']">Load Washington D.C.</button>
  <router-outlet></router-outlet> 
</div>


